
/* Space out content a bit */
body {
  margin:0;
  padding:0;
  height:100%;
}

.main-menu {
  line-height: 65px;
}

.main-menu ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu ul li a:hover {
  font-weight: bold;
}

.main-menu ul li {
  display: inline-block;
  padding-right: 40px;
}

.header {
  background-color: #333333;
  height: 65px;
}

.footer {
  height: 460px;
  background-color: #343434
}

.footer .copyright {
  background-color: #323232;
  height: 44px;
}

.footer .bottom-menu h5 {
  color: #ff5909;
}

.navigation {
  background-color: #64F4F4;
}

.slider {
  background-color: #e97f7f;
  height: 800px;
}

.slide .content {
  background-color: #e9b67f;
}

.login img {
  position: absolute;
  float: left
}

.login span {
  position: absolute;
  padding-left: 17px;
  margin-top: -12px;
  color: #FFFFFF;
}


.language {
  position: absolute;
  top: 0;
  right: 80px;
  line-height: 65px;
  color: #FFFFFF;
}

section .content-part1 {
  background-color: #3f5a8e;
  height: 635px;
}

@media screen and (min-width: 930px) {
  .container {
    max-width: 940px;
  }

  .slide .content {
    width: 940px;
  }
}